ul.newsletter-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    li {
        list-style: none;
        margin-right: 15px;
        position: relative;
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:last-child {
            padding-right: 0;
        }
        a {
            color: #504435;
            position: absolute;
            height: 22px;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            svg {
                height: 20px;
            }
        }
        img {
            height: 20px;
        }
        
    }
}
.jcims {
    margin-top: 80px;
    &__container {
        border: .5px solid #6884A3;
    }
    &__mag-container {
        padding: 40px;
    }
    &__mag-text {
        text-align: left;
        hr {
            position: relative;
            top: -20px;
            z-index: 1;
            margin-bottom: 0;
        }
        h3 {
            font-size: 3.75rem;
            // color: $blue;
            margin-bottom: 0;
            position: relative;
            z-index: 2;
        }
    }
    &__social-container {
        // background-color: $blue;
        color: white;
        padding: 40px;
        .handwritten {
            font-size: 3.75rem;
            color: white;
            margin-bottom: 26px;
            font-weight: normal;
        }
    }
    &__connect-text {
        margin-top: 0;
        line-height: 1.5rem;
        margin-bottom: 36px;
        font-family: CoreSerifN, serif;
    }
    .mih-social-icons {
        margin-bottom: 40px;
    }
}
.mag.custom-article-list {
    h3 {
        text-align: center;
    }
}
.jci-recent {
    margin-bottom: 50px;
    &__category {
        @extend .thf-cat-title;
        margin-bottom: 0;
    }
    &__excerpt {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__item {
        padding: 50px 0 45px;
        &:nth-of-type(2) {
            border-bottom: 1px solid #c6c6c6;
        }
    }
    &__title {
        font-size: 1.875rem;
        margin-top: 15px;
    }
    .section-heading {
        margin-bottom: 50px;
        margin-top: 70px;
    }
}

.thf-featured {
    // margin-right: -15px;
    // margin-left: -15px;
        margin-bottom: 50px;
        &__top-text-container {
            margin: -50px 20px 20px;
            text-align: left;
            z-index: 9;
            padding: 15px 75px;
            position: relative;
            // display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            background-color: white;
            h2 {
                font-family: Cassia, Times, serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2.25rem;
                line-height: 50px;
                margin-bottom: 0;
            }
            p {
                line-height: 30px;
                font-weight: 300;
                font-size: 1.25rem;
            }
            button {
                margin-bottom: 20px;
            }
            .thf-cat-title {
                margin-bottom: 0;
            }
        }
        &__top-img-container {
            position: relative;
        }
        &__sub-item {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 30px;
            background-color: white;
        }
        &__sub-item-text {
            text-align: center;
            padding: 25px;
            padding-bottom: 30px;
            .thf-featured__cat {
                margin-bottom: 10px;
                margin-top: 0;
            }
        }
        &__bottom-title {
            margin-bottom: 0;
            padding-bottom: 0;
            line-height: 40px;
        }
        &__sub-item-img {
            min-height: 290px;
            width: 100%;
        }
        &__cat {
            
            @extend .thf-cat-title;
            margin-bottom: 0;
        }
}
.searchandfilter {
    select.sf-input-select {
        background-color: white;
        padding-left: 10px;
    }
}
.thf-event-filter {
    background-color: #ddebf1;
    padding: 40px 50px;
    &__event-share {
        text-align: center;
        h3 {
            color: $darkgreen;
        }
        p {
            text-transform: uppercase;
            color: $darkgreen;
        }
    }
    &__title {
        text-align: center;
        color: $darkgreen;
        margin-top: 0;
    }
    .sf-field-post-meta-start_date {
        flex-basis: 66.67%;
        padding-right: 0;
        flex-basis: 66.67% !important;
    }
    .sf_date_field {
        > li {
            flex-basis: 50%;
            padding-right: 25px;
            input {
                width: 100%;
                padding-left: 10px;
                &::placeholder {
                    color: black;
                }
            }
        }
    }
}

.thf-contests {
    padding-top: 50px;
    padding-bottom: 50px;
    &__item {
        margin-bottom: 50px;
        background-color: white;
    }
   &__img-container {
    height: 300px;
   } 
   &__text-container {
    min-height: 300px;
    padding: 40px;
    h3 {
        margin-bottom: 20px;
        margin-top: 0;
    }
   }
   &__excerpt {
    font-size: 1.375rem;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
   }
   .section-heading {
    margin-top: 0;
   }
}
.related-articles {
    padding-top: 50px;
    padding-bottom: 50px;
    &__title {
        font-size: 1.4rem;
        text-align: center;
    }
}
.article-callout {
    &__text {
        background-color: #e0ebf0;
    }
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.75rem;
    }
    &__category {
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-size: 1.065rem;
        color: #324851;
        text-transform: uppercase;
        border: 1px solid #324851;
        border-radius: 0;
        display: inline-block;
        padding: 5px 10px;
        line-height: 1;
    }
}
.jci-article {
    &__container {
        background-color: #e0ebf0;
    }
    &__img-container {
        flex-shrink: 0;
    }
    &__read-more {
        font-family: source-sans-pro, sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        color: $darkgreen;  
        margin-bottom: 5px;
    }
    &__title {
        font-family: Cassia, Times, serif;
        font-size: 1.75rem;
        line-height: 38px;
        margin-top: 0;
    }
}
.ncff-newsletter {
    margin-bottom: 50px;
    border: 1px solid #8f9b8d;
    margin-top: 0;
    .gf-turnstile-container {
        display: none;
    }
    &__text {
        font-size: 1.125rem;
        font-weight: 300;
        a {
            color: $lighttan;
            font-weight: 400;
        }
        > .col-12 {
            padding-left: 2px;
        }
    }
    &__text-area {
        text-align: center;
        align-content: center;
        // border: 1px solid black;
        padding: 40px 60px 40px 50px;
        margin-top: 20px;
        background-color: white;
        .read-connect {
            margin-bottom: 20px;
            font-size: 2.81rem;
            font-weight: 300;
            color: #504435;
        }
     
        h3 {
            // color: $olive;
            z-index: 1;
            position: relative;
            font-size: 2.5rem;
            font-weight: 600;
        }
        img {
            max-width: 220px;
        }
        
        p {
            text-align: left;
        }
    }
    &__description {
        font-family: Cassia, Times, serif;
        font-weight: 400;
        font-size: 1.5rem;
    }
    &__form-area {
        background-color: #cfc9c1;
        color: #111;
        text-align: center;
        padding: 50px;
        ul.newsletter-social {
            li {
                background-color: transparent;
            }
        }
        p {
            font-family: Cassia, Times, serif;
            font-size: 1.1rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
        .gform_wrapper.gravity-theme .gfield_label{
            display: none;
        }
        .gform_wrapper {
            form {
                position: relative;
                font-family: proxima-nova, sans-serif;
                margin-bottom: 20px;
                input[type=text] {
                    font-family: proxima-nova, sans-serif;
                    color: #111;
                    &::placeholder {
                        color: #111;
                    }
                    // border: 1px solid $olive;
                }
                .gform_footer {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border: none;
                   
                    input[type=submit] {
                        text-indent: -9999px;
                        margin-bottom: 0;
                        width: 100%;
                        height: calc(100% - 2px);
                        padding: 0;
                        // background-color: $mediumolive;
                        background-image: url("assets/images/arrow-right-solid-2.svg");
                        background-repeat: no-repeat;
                        background-size: 70%;
                        background-position: 5px 6px;
                        cursor: pointer;
                        bottom: 1px;
                        position: relative;
                    }
                }
            }
        }

    }
}
@media all and (min-width: 768px) {
    .thf-featured {
        padding-top: 15px;
        padding-bottom: 20px;
      
        &__top-container {
            position: relative;
            // background-color: pink;
            box-sizing: border-box;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            // overflow-y: hidden;
        }
        &__top-text-container {
            position: relative;
            margin: 0;
            width: 45%;
            padding: 30px 75px;
            margin-left: -5%;
            h2 {
                margin-top: 20px;
                font-size: 1.875rem;
                line-height: 40px;
            }
        }
        &__top-img-container {
            // width: 900px;
            // height: 100%;
            // position: absolute;
            position: relative;
            z-index: 1;
            // right: 0;
            // top: 0;
            width: 60%;
            
            max-width: none;
            height: auto;
            img {

                // object-fit: cover;
                // position: absolute;
                // top: 0;
                // right: 0;
                max-width: none;
                width: 100%;
                height: auto;
            }
        }
        &__sub-item {
            // display: flex;
            // flex-direction: row;
        }
        &__sub-item-text {
            // display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 242px;
        }
        &__bottom-title {
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &__sub-item-img {
            min-height: 260px;
        }
    }
    .ncff-newsletter {
        display: flex;
        flex-direction: row;
        &__text-area {
            flex-basis: 65%;
            text-align: left;
            margin-top: 0;
            h3 {
                display: inline-block;
                line-height: 1;
                margin-top: 0;
                margin-bottom: 0;

            }
            img {
                float: left;
                padding-right: 30px;
            }
        }
        &__text {
            float: right;
            width: calc(100% - 205px);
            font-size: 1.125rem;
            line-height: 32px;
        }

        &__form-area {
            flex-basis: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .thf-contests {
        &__item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
       &__img-container {
        width: 35%;
       } 
       &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        min-height: 300px;
        h3 {
            margin-bottom: 20px;
            margin-top: 0;
        }
       }
       &__excerpt {
        font-size: 1.375rem;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 0;
       }
    }
}
@media all and (min-width: 768px) {
    .jci-recent {
        &__img-container {
            align-self: normal;
        }
        &__text-container {
            align-self: center;
        }
        &__category {
            margin-top: 0;
        }
    }
}
@media all and (min-width: 48em) {
    .jcims {
        &__mag-container {
            img {
                width: 200px !important;
                height: auto;
                max-width: unset;
            }
        }
    }
}

@media (min-width: 80em) {
    .jcims {
        &__mag-container {
            padding: 40px 0 40px 40px;
        }
    }
}