@font-face {
    font-family: Cassia;
    src: url('./assets/fonts/Cassia-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Cassia;
    src: url('./assets/fonts/Cassia-Light.otf');
    font-weight: 300;
}

