.site-footer {
    ul.newsletter-social {
        justify-content: flex-start;
        li {
            color: white;
            background-color: transparent;
        }
    }
    p {
        line-height: 1.5rem;
    }
}

#menu-footer-menu {
    text-align: center;
    margin-left: 0;
    border-bottom: 1px solid white;
    padding-left: 0;
    padding-top: 10px;
    li {
        list-style: none;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        font-style: normal;
        
    }
    a {
        text-decoration: none;
        font-size: 1.25rem;
        letter-spacing: .1px;
        &:hover, &:visited, &:focus {
            color: white;
            text-decoration: underline;
        }
    }
}
.site-info {
    padding-top: 20px;
  
}
.footer-right-flex {
    display: flex;
    img {
        margin-right: 20px;
    }
    p {
        margin-top: 0;
    }
}
p.tfb-title {
    font-family: Cassia, serif;
    font-size: 1.25rem;
}
@media all and (min-width: 768px) {
    #menu-footer-menu {
        
            display: flex;
            justify-content: space-around;
        
        li {
            display: inline-block;
        }
    }
}
@media all and (min-width: 48em) {
    .footer-left {
        border-right: 1px solid white;
    }
    .footer-right {
        padding-left: 60px;
    }
}