.single-post {
    .entry-header {
        text-align: center;
        padding: 20px 20px;
    }
    .entry-title {
        margin-bottom: 20px;
        font-size: 2.5rem;
        margin-top: 20px;
    }
}

.archive {
    div[class$="-in-content"] {
        margin-top: 0;
    }
    .page-title {
        font-size: 2.5rem;
    }
}

.ncff-category-wrap {
    ul {
        text-align: center;
        margin-left: 0;
        padding-left: 0;
    }
    li {
        list-style: none;
        display: inline-block;
        color: $olive;
        &:after {
            content: "/";
            position: relative;
            padding-left: 10px;
            font-weight: bold;
            font-family: 'Gabriela', serif;
            color: $olive;
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
    a {
        // text-transform: capitalize;
        font-size: 1.125rem;
        // color: $olive;
        text-decoration: none;
    }
}
.ncff-excerpt {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto 1.5em;
}
.byline, .posted-on {
    font-family: proxima-nova, sans-serif; 
    font-size: 1rem;
}
figcaption {
    font-family: proxima-nova, sans-serif; 
    font-size: .875rem;  
}
.addtoany_list {
    a {
        > span {
            border-radius: unset !important;
        }
    }
}
.post-tags {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 45px;
    li {
        list-style: none;
        display: inline-block;
        color: white;
        background-color: $olive;
        margin-right: 15px;
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: 200;
        font-family: proxima-nova, sans-serif; 
        font-size: 1rem;
    }
}

.infobox-header {
	text-align: center;
	text-transform: uppercase;
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;  
    }
}
.infobox-content {
	background: rgba(100, 117, 97, 0.3);
	border-top: 1px solid black;
	padding: 20px;
}


@media all and (min-width: 768px) {
    .single-post {
        .entry-header {
            text-align: center;
            padding: 20px 50px;
        }
    }
}