.uagb-ifb-icon, .uagb-ifb-icon-wrap {
    svg {
        height: 50px;
    } 
}
.uagb-ifb-content {
	text-align: center;
	padding: 20px;
    background-color: rgba(#d2cdc1, 0.7);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border: 1.5px solid white;
        pointer-events: none;
    }
}
.uagb-ifb-title {
    font-size: 1.875rem;
}